body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-top: ;
}
.section1{
    background-color: #F0FFF0;
}
.logo{
    width: 200px;
    height: auto;
}
.button{
    border-radius: 20%;
}
.illustration img{
    width: 500px;
    height: 300px;
}
